h1, h2, h3, h4, h5, h6 {
  color: $text;
}

// Scale based on Jason Pamental's
// http://typecast.com/blog/a-more-modern-scale-for-web-typography

h1, .h1 {
  font-family: $sans;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1.5px;
  font-size: em(32);
  @include breakpoint(large) {
    font-size: em(40);
    line-height: 1.125;
  }
  @include breakpoint(xlarge) {
    font-size: em(48);
    line-height: 1.05;
  }
}

h2, .h2 {
  font-family: $sans;
  font-weight: 800;
  line-height: 1.153;
  letter-spacing: -0.5px;
  font-size: em(26);
  @include breakpoint(large) {
    font-size: em(32);
    line-height: 1.25;
  }
  @include breakpoint(xlarge) {
    font-size: em(36);
  }
}

h3, .h3 {
  font-family: $sans;
  font-weight: 800;
  line-height: 1.36;
  letter-spacing: 0;
  font-size: em(22);
  @include breakpoint(large) {
    font-size: em(24);
    line-height: 1.25;
  }
  @include breakpoint(xlarge) {
    font-size: em(28);
  }
}

h4, .h4 {
  font-family: $sans;
  font-weight: 800;
  line-height: 1.111;
  letter-spacing: 0.25px;
  font-size: em(18);
  color: $text-light;
  @include breakpoint(large) {
    font-size: em(18);
    line-height: 1.222;
  }
}

a {
  color: $clickable;
  text-decoration: none;
}

p, .p {
  font-weight: 400;
  color: $text;
  line-height: 1.25;
  font-size: em(16);
  max-width: 32em;
  @include breakpoint(large) {
    line-height: 1.375;
  }
}

sup {
  font-size: 50%;
  vertical-align: middle;
}