// Breakpoints
// These are used in the foundation breakpoint mixin
// Since I code mobile first, I use breakpoints that are 1 pixel higher than common sizes
$small:   0;
$medium:  376px;
$large:   769px;
$xlarge:  1201px;
$xxlarge: 1441px;

// Useful in the default-sizing mixin
$mobile-margin: 1.5em;
$desktop-margin: 2em;

// Type
$browser-context: 16;
$sans: 'ff-basic-gothic-pro', 'Helvetica', 'Arial', sans-serif;
$cond: acumin-pro-extra-condensed, sans-serif;

// Animation
$default-timing: 200ms;

// Layers, add more in between breakpoints if you need. 
// use map-get to access. 
// z-index: map-get($z, 1)
// https://sass-lang.com/documentation/functions/map#map-get
$z: (
  1: 10,
  2: 20,
  3: 30,
  4: 40,
  5: 50,
  6: 60,
  7: 70,
  8: 80,
  9: 90,
  10: 100,
  top: 1000
);
