.🚶‍ {
  background-color: #e9ebee;
}

.💆🏻‍ {
  width: 100%;
  height: 43px;
  background-color: #4267b2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.🤖 {
  font-size: 24px;
  padding-right: 2vw;
}

.🐬 {
  width: 1012px;
}

.🖼🏠 {
  font-size: 16px;
  padding-left: 5vw;
}

.🐰 {
  width: 1012px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.👕 {
  line-height: 1.8;
  padding-top: 20px;
} 

.🗣 {
  width: 500px;
}

.👩‍ {
  background-color: #fff;
  height: 155px;
  margin: 20px;
}