$dturquoise: #21877a;
$turquoise: #41ead4;
$pink: #ff206e;
$yellow: #fbff12;

$black: #0c0f0a;
$dgray: #232828;
$gray: #444D4F;
$lgray: #9EAFB2;
$llgray: #DEE2E2;

/* aliases */
$text: $dgray;
$text-light: #fff;