// * General Header or Site Header

header {
    display: flex;
    justify-content: center;
    margin-top: em(30);

    ul {
        padding-left: 0;
    }

    li {
        &:nth-child(1n) {
            .btn {
                box-shadow: 0.3em 0.2em 0 0 $pink, 0.3em 0.2em 0 0.1em $black;
            }
            .btn:hover {
                box-shadow: 0 4em 0 0 $pink inset, 0em 0em 0 0 #bbb;
            }  
        }

        &:nth-child(2n) {
            .btn {
                box-shadow: 0.3em 0.2em 0 0 $yellow, 0.3em 0.2em 0 0.1em $black;
            }
            .btn:hover {
                box-shadow: 0 4em 0 0 $yellow inset, 0em 0em 0 0 #bbb;
            }
        }

        &:nth-child(3n) {
            .btn {
                box-shadow: 0.3em 0.2em 0 0 $turquoise, 0.3em 0.2em 0 0.1em $black;
            }
            .btn:hover {
                box-shadow: 0 4em 0 0 $turquoise inset, 0em 0em 0 0 #bbb;
            } 
        }

        .btn:last-child {
            margin-right: 0;
        }
    }

    .btn {
        width: em(100)
    }
}
