h1, h2, h3, h4, h5, h6, p {
  color: $text;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1, .h1 {
  font-family: $sans;
  font-weight: 800;
  line-height: 1.25;
  font-size: 2rem;
  @include breakpoint(large) {
    font-size: 2.5rem;
    line-height: 1.125;
  }
  @include breakpoint(xlarge) {
    font-size: 3rem;
    line-height: 1.05;
  }
}

h2, .h2 {
  font-family: $sans;
  font-weight: 800;
  line-height: 1.153;
  font-size: 1.75rem;
  @include breakpoint(large) {
    font-size: 2rem;
    line-height: 1.25;
  }
  @include breakpoint(xlarge) {
    font-size: 2.25rem;
  }
}

h3, .h3 {
  font-family: $sans;
  font-weight: 800;
  line-height: 1.36;
  font-size: 1.25rem;
  @include breakpoint(large) {
    font-size: 1.5rem;
    line-height: 1.25;
  }
  @include breakpoint(xlarge) {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-family: $sans;
  font-weight: 800;
  line-height: 1.111;
  font-size: 1.125rem;
  color: $text-light;
  @include breakpoint(large) {
    font-size: 1.125rem;
    line-height: 1.222;
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    
  }
}

p, .p {
  font-weight: 400;
  color: $text;
  line-height: 1.25;
  font-size: 1rem;
  max-width: 32em;
  padding: 0 0.75rem;
  @include breakpoint(large) {
    line-height: 1.375;
  }
}

sup {
  font-size: 50%;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

.title {
  font-size: 3.5rem;
  width: 100%;
  padding: 0.75rem;
  background-image: url('/images/wave.svg');
  background-repeat: repeat-x;
  background-size: 8rem;
  background-position-y: 30%;
  text-shadow: -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black, 1px 1px 0 $black;
  color: $text-light;
  animation: wiggle 3s linear infinite;
  animation-play-state: paused;
  line-height: 1;

  @supports (-webkit-text-stroke: 1px $black) {
    -webkit-text-stroke: 1.5px $black;
    text-shadow: none;
  }

  &:hover {
    animation-play-state: running;
    cursor: default;
  }

  @include breakpoint($large) {
    font-size: 4rem;
    padding: 1rem;
  }
}

.subtitle {
  margin-top: -40px;
}