.works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  place-content: top;
  gap: 9em 3em;

  img {
    max-width: 400px;
  }

  @include breakpoint(medium down) {
    display: block;
  }
}

.work { 
  text-align: center;
  position: relative;
  
  p {
    margin: auto
  }
  
  h1 {
    margin-bottom: 10px;
  }

  a {
    h1, .work-img{
      transition: all 0.5s;
    }
  }

  a:hover {
    h1 {
      color: rgb(135, 110, 110);
    }

    .work-img {
      max-width: 460px;
      height: 510px;
    }
  }

  @include breakpoint(medium down) {
    margin-bottom: 5em;
  }
}

.work-img {
  margin: auto;
  max-width: 450px;
  height: 500px;
  background-size: cover;
  background-position: center;

  @include breakpoint(medium down) {
    max-width: 300px;
    height: 350px;
  }
}

.work-img--mn-wp {
  background-image: url('img/mn-wt.png');
}

.work-img--ro-sd {
  background-image: url('img/ro-sd.png');
}

.work-img--mn-fof {
  background-image: url('img/mn-fof.png');
}

.work-img--tap-f {
  background-image: url('img/tap-footer.png');
}

.work-img--fs {
  background-image: url('img/fs.png');
}

.work-img--sc-sh {
  background-image: url('img/sc-sh.png');
}

.work-img--s-ef {
  background-image: url('img/s-1850.png');
}

.work-img--s-hc {
  background-image: url('img/f-hc.png');
}